@page
@model WebApplication2.Pages.BasketballModel
@{
}
<div class="container mt-5">
    <h1 class="mb-4">Latest Basketball News</h1>

    <!-- Sección de Noticias -->
    <div class="row">
        <div class="col-md-6">
            <h3>Headline 1</h3>
            <p>Phasellus malesuada nunc non nulla dictum, at tempor mi vehicula. Cras quis orci ac justo sodales...</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="col-md-6">
            <h3>Headline 2</h3>
            <p>Nullam scelerisque, metus nec fermentum pretium, ligula arcu vehicula leo, at condimentum lacus ligula...</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <!-- Sección de Resultados Recientes -->
    <div class="mt-5">
        <h2>Recent Match Results</h2>
        <ul class="list-group">
            <li class="list-group-item">Team X 102-95 Team Y</li>
            <li class="list-group-item">Team Z 110-108 Team W</li>
            <li class="list-group-item">Team A 98-101 Team B</li>
        </ul>
    </div>

    <!-- Sección de Estadísticas -->
    <div class="mt-5">
        <h2>Top Scorers</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Player X</td>
                    <td>Team Z</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Player Y</td>
                    <td>Team W</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Player Z</td>
                    <td>Team X</td>
                    <td>25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
