@page
@model WebApplication2.Pages.BasketballModel
@{
}
<div class="container mt-5">
    <h1 class="mb-4">Últimas noticias de baloncesto</h1>

    <!-- Sección de Noticias -->
    <div class="row">
        <div class="col-md-6">
            <h3>Damian Lillard Brilla en su Debut en Milwaukee</h3>
            <p>Damian Lillard anotó 39 puntos en su primer juego con los Bucks, liderando a su nuevo equipo en una victoria de 118-117 sobre los Philadelphia 76ers.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="col-md-6">
            <h3>El Impacto de Victor Wembanyama se Siente de Inmediato</h3>
            <p>El tan esperado debut de Wembanyama estuvo a la altura de las expectativas, con el novato de los Spurs registrando 22 puntos, 10 rebotes y 5 bloqueos en la victoria 126-123 sobre los Mavericks.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="col-md-6 mt-4">
            <h3>LeBron James No Muestra Señales de Frenar su Ritmo</h3>
            <p>A sus 39 años, LeBron James sigue dominando, logrando un triple-doble en la victoria de los Lakers por 115-110 sobre los Suns.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="col-md-6 mt-4">
            <h3>La Actuación Histórica de Stephen Curry</h3>
            <p>Stephen Curry anotó 50 puntos, incluyendo 11 triples, mientras los Warriors vencían a los Sacramento Kings 130-125 en un emocionante partido.</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <div class="mt-5">
        <h2>Resultados de Partidos Recientes</h2>
        <ul class="list-group">
            <li class="list-group-item">Milwaukee Bucks 118-117 Philadelphia 76ers</li>
            <li class="list-group-item">San Antonio Spurs 126-123 Dallas Mavericks</li>
            <li class="list-group-item">Los Angeles Lakers 115-110 Phoenix Suns</li>
            <li class="list-group-item">Golden State Warriors 130-125 Sacramento Kings</li>
            <li class="list-group-item">Denver Nuggets 119-107 Utah Jazz</li>
        </ul>
    </div>

    <!-- Sección de Estadísticas -->
    <div class="mt-5">
        <h2>Máximos Anotadores</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Equipo</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Stephen Curry</td>
                    <td>Golden State Warriors</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Damian Lillard</td>
                    <td>Milwaukee Bucks</td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>Luka Dončić</td>
                    <td>Dallas Mavericks</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>Jayson Tatum</td>
                    <td>Boston Celtics</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>LeBron James</td>
                    <td>Los Angeles Lakers</td>
                    <td>31</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Sección de Equipos Destacados -->
    <div class="mt-5">
        <h2>Equipos Destacados</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://www.teleadhesivo.com/es/img/nba019-jpg/folder/products-listado-merchant/pegatinas-coches-motos-milwaukee-bucks-escudo.jpg" class="card-img-top" alt="Milwaukee Bucks">
                    <div class="card-body">
                        <h5 class="card-title">Milwaukee Bucks</h5>
                        <p class="card-text">Con Damian Lillard y Giannis Antetokounmpo, los Bucks son los principales contendientes para el título de la NBA esta temporada.</p>
                        <a href="#" class="btn btn-primary">Ver Equipo</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://wallpapers.com/images/hd/golden-state-warriors-logo-7tjzf90mexknzrgz.jpg" class="card-img-top" alt="Golden State Warriors">
                    <div class="card-body">
                        <h5 class="card-title">Golden State Warriors</h5>
                        <p class="card-text">Con el increíble tiro de Stephen Curry, los Warriors continúan siendo uno de los equipos más peligrosos de la NBA.</p>
                        <a href="#" class="btn btn-primary">Ver Equipo</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://cdn.nba.com/teams/legacy/www.nba.com/lakers/sites/lakers/files/ts_180804logo.jpg" class="card-img-top" alt="Los Angeles Lakers">
                    <div class="card-body">
                        <h5 class="card-title">Los Angeles Lakers</h5>
                        <p class="card-text">Incluso a los 39 años, LeBron James lidera a los Lakers con su juego, convirtiéndolos en una gran amenaza en la Conferencia Oeste.</p>
                        <a href="#" class="btn btn-primary">Ver Equipo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Próximos Partidos -->
    <div class="mt-5">
        <h2>Próximos partidos</h2>
        <ul class="list-group">
            <li class="list-group-item">Milwaukee Bucks vs Miami Heat - October 10, 2024</li>
            <li class="list-group-item">Golden State Warriors vs LA Clippers - October 12, 2024</li>
            <li class="list-group-item">Los Angeles Lakers vs Denver Nuggets - October 14, 2024</li>
        </ul>
    </div>
</div>
