@page
@model WebApplication2.Pages.IndexModel
@{
}
<div class="container mt-5">
    <h1 class="mb-4">Últimos resultados Liga MX</h1>

    <!-- Sección de Noticias -->
    <div class="row">
        <div class="col-md-6">
            <h3>America pierde contra Puebla</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et felis et justo convallis facilisis...</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
        <div class="col-md-6">
            <h3>Tigres no le pudo ganar a Chivas en su casa</h3>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
            <a href="#" class="btn btn-primary">Read More</a>
        </div>
    </div>

    <!-- Sección de Resultados Recientes -->
    <div class="mt-5">
        <h2>Últimos resultados</h2>
        <ul class="list-group">
            <li class="list-group-item">Tigres 1-1 Chivas</li>
            <li class="list-group-item">America 0-1 Puebla </li>
            <li class="list-group-item">Toluca 2-1 San Luis</li>
        </ul>
    </div>

    <!-- Sección de Estadísticas -->
    <div class="mt-5">
        <h2>Goleadores</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Equipo</th>
                    <th>Goles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Henry Martin</td>
                    <td>America</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Joao Paulo</td>
                    <td>Toluca</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Lucas Cavallini</td>
                    <td>Puebla</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
