@page
@model WebApplication2.Pages.IndexModel
@{
}
<div class="container mt-5">
    <h1 class="mb-4">Últimos resultados Liga MX</h1>

    <!-- Carrusel de imágenes -->
    <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i0.wp.com/americayya.net/wp-content/uploads/2024/08/Previo12-6.jpg?fit=800%2C400&ssl=1" class="d-block w-100" alt="América vs Puebla">
                <div class="carousel-caption d-none d-md-block">
                    <h5>América pierde contra Puebla</h5>
                    <p>Puebla sorprende y vence al América en el Estadio Azteca 1-0.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://phantom-marca-mx.unidadeditorial.es/f8b15d9fb3b092d36952e495de97d2c5/resize/828/f/jpg/mx/assets/multimedia/imagenes/2024/01/21/17058504821645.jpg" class="d-block w-100" alt="Tigres vs Chivas">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tigres empata con Chivas en su casa</h5>
                    <p>Un empate cerrado 1-1 deja todo abierto para el próximo encuentro.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://ds-images.bolavip.com/news/image?src=https://images.juanfutbol.com/webp/full/JFB_20231029_JFB_117191_GettyImages-1470078426-scaled-e1698588947858-1024x576.webp&width=1024&height=576" class="d-block w-100" alt="Toluca vs San Luis">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Toluca vence a San Luis</h5>
                    <p>Con un gran desempeño, Toluca vence a San Luis 2-1.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Sección de Noticias -->
    <div class="row">
        <div class="col-md-6">
            <h3>América sorprendido en casa por Puebla</h3>
            <p>En un partido disputado, Puebla logró vencer al América 1-0 en el Estadio Azteca. Lucas Cavallini fue el héroe del partido con un gol en los últimos minutos...</p>
            <a href="#" class="btn btn-primary">Leer más</a>
        </div>
        <div class="col-md-6">
            <h3>Tigres y Chivas empatan en Monterrey</h3>
            <p>En un encuentro lleno de emociones, Tigres y Chivas empataron 1-1. André-Pierre Gignac abrió el marcador, pero Chivas igualó con un gol de Alexis Vega...</p>
            <a href="#" class="btn btn-primary">Leer más</a>
        </div>
    </div>

    <!-- Sección de Resultados Recientes -->
    <div class="mt-5">
        <h2>Últimos resultados</h2>
        <ul class="list-group">
            <li class="list-group-item">Tigres 1-1 Chivas</li>
            <li class="list-group-item">América 0-1 Puebla</li>
            <li class="list-group-item">Toluca 2-1 San Luis</li>
            <li class="list-group-item">Monterrey 3-2 Santos</li>
            <li class="list-group-item">León 1-0 Pumas</li>
        </ul>
    </div>

    <!-- Sección de Estadísticas -->
    <div class="mt-5">
        <h2>Goleadores</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Equipo</th>
                    <th>Goles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Henry Martín</td>
                    <td>América</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>André-Pierre Gignac</td>
                    <td>Tigres</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>Alexis Vega</td>
                    <td>Chivas</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Lucas Cavallini</td>
                    <td>Puebla</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Juan Dinenno</td>
                    <td>Pumas</td>
                    <td>7</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
