@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <h1 class="text-center mb-5">Últimos Resultados en los Principales Deportes</h1>

    <div class="row g-4">
        <!-- Sección de Fútbol -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <img src="~/images/fucho.jpg" class="card-img-top" alt="Football Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Fútbol</h5>
                    <p class="card-text">
                        Manténgase actualizado con las últimas noticias de fútbol, resultados de partidos y más.
                    </p>
                    <a href="/Football" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Sección de Baloncesto -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <img src="~/images/Basquetbol.jpg" class="card-img-top" alt="Basketball Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Baloncesto</h5>
                    <p class="card-text">
                        Obtenga las últimas actualizaciones sobre juegos, jugadores y resultados de baloncesto.
                    </p>
                    <a href="/Basketball" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>

        <!-- Sección de Artículos Deportivos -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <img src="~/images/articulos.jpg" class="card-img-top" alt="Sports Articles Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Artículos Deportivos</h5>
                    <p class="card-text">
                        Encuentra y compra los mejores artículos deportivos.
                    </p>
                    <a href="/Baseball" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
